<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <div class="activity">
          <h1><%= title %></h1>
        </div>
        <div class="act1">
          <img src="/images/comedor2.jpg" alt="images"><br><br><br><br>
          <form action="/" method="POST">
            <button type="submit">Menú</button>
          </form>
          <p>Elaboramos cada dia nuestro menú</p>
        </div>
        <div class="act1">
           <img src="/images/piscina2.jpg" alt="images"><br><br><br><br>
           <form action="/" method="POST">
            <button type="submit">Piscina</button>
          </form>
            <p>Despues de realizar las tareas podemos darnos un baño en la piscina  </p>
        </div>
        <div class="act1">
            <img src="/images/tenis.jpg" alt="images"><br><br><br><br>
            <form action="/" method="POST">
              <button type="submit">Deporte</button>
            </form>
            <p>Cada día realizamos diferentes actividades</p>
        </div>
        
  </body>
</html>