<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body  background="images/hostalPaca.jpg"> 
    <form class="user" action="/login/<%= token %>" method="POST">
        <h1>Bienvenid@ <%= name %>!</h1>
        <p>Teléfono de contacto : <%= username %></p>

        <button  class="submit" type = "submit">Ahora puedes ver las actividades</button>
        
    </form>
</body>
</html>