*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
 
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: red;
    border-radius: 8px;
    color:aquamarine;
    
  }
  
  input[type="text"],
  input[type="password"],
  
  
  textarea,
  
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
 
  
  
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }

  .error {
    background-color: red
  }
  .nombre {
    background-color: green;
    color: red;
  }
  .password {
    background-color: red;
    color: aquamarine;
  }