.admin_div{
    color: red; 
    margin-top: 10px;
    margin-left: 30px;
    
}
p{
    color: aqua;
    font-size: 150%;
}
.titulo{
    margin-left: 150px;
}
.card-img-top{
    width:600px;
    height:350px;
   }
